<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#geolocationFailModal">
    Launch demo modal
</button>

<div class="modal fade" id="geolocationFailModal" tabindex="-1" aria-hidden="true" th:fragment="locationNotFoundModal">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-body">
                위치를 찾을 수 없습니다.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

</html>