.main-container {
    width: 100%;
    height: 88.5vh;
}

.map-container {
    width: 100%;
    height: 100%;
}

.banner-container {
    background: black;
    width: 100%;
    height: 60px;
}

.btn-toolbar-container {
    position: absolute;
    right: 0;
    margin: 10px;
    flex-direction: column;
}

.btn-group-vertical {
    margin-bottom: 10px;
}

.tool-group {
    background: white;
    padding: 5px;
}