<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" href="/bootstrap/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="/ol/ol.css" type="text/css">

    <link rel="stylesheet" href="/css/container.css" type="text/css">
    <link rel="stylesheet" href="/css/map.css" type="text/css">
    <link rel="stylesheet" href="/css/ol-tooltip.css" type="text/css">

    <script src="/bootstrap/bootstrap.bundle.min.js"></script>
    <script src="/ol/ol.js"></script>
    <script src="/ol/proj4.js"></script>
</head>

<body>

    <div th:replace="fragments/header :: header"></div>

    <div class="row g-0 w-100 main-container">
        <div th:replace="fragments/sideMenu :: sideMenu"></div>

        <div class="col border-end border-bottom border-4 position-relative">
            <div id="map" class="map-container position-absolute top-0 start-0"></div>

            <div th:replace="map/mapToolbar :: mapToolbar"></div>
        </div>
    </div>

    <div th:replace="fragments/alertPopup :: locationNotFoundModal"></div>
    <div th:replace="fragments/alertPopup :: toastPopup"></div>

</body>

<footer>
    <script src="/js/tooltips.js"></script>
    <script type="module" src="/js/map/mapModule.js"></script>
    <script type="module" src="/js/toolbar/toolbarModule.js"></script>
    <script type="module" src="/js/vworldWMS/vworldWMSModule.js"></script>
</footer>
</html>