<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" href="/bootstrap/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="/ol/ol.css" type="text/css">

    <link rel="stylesheet" href="/css/container.css" type="text/css">
    <link rel="stylesheet" href="/css/map.css" type="text/css">


    <script src="/bootstrap/bootstrap.bundle.min.js"></script>
    <script src="/ol/ol.js"></script>
    <script src="/ol/proj4.js"></script>
</head>

<body>

    <div th:replace="fragments/header :: header"></div>

    <div class="w-100 main-container">
        <div id="map" class="map-container"></div>
    </div>

</body>

<footer>
    <script type="module" src="/js/map/resource.js"></script>
</footer>
</html>