<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">



<div class="btn-toolbar btn-toolbar-container" th:fragment="mapToolbar">
    <div class="btn-group-vertical">
        <button class="btn btn-secondary p-1" id="btnZoomIn">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-lg" viewBox="0 0 16 16">
                <path d="M8 0a1 1 0 0 1 1 1v6h6a1 1 0 1 1 0 2H9v6a1 1 0 1 1-2 0V9H1a1 1 0 0 1 0-2h6V1a1 1 0 0 1 1-1z"/>
            </svg>
        </button>

        <button class="btn btn-secondary p-1" id="btnZoomOut">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-dash-lg" viewBox="0 0 16 16">
                <path d="M0 8a1 1 0 0 1 1-1h14a1 1 0 1 1 0 2H1a1 1 0 0 1-1-1z"/>
            </svg>
        </button>
    </div>

    <div class="btn-group-vertical">
        <button class="btn btn-outline-secondary tool-group" id="distanceBtn" data-bs-toggle="tooltip" data-bs-placement="left" title="거리">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-rulers" viewbox="0 0 16 16">
                <path d="M1 0a1 1 0 0 0-1 1v14a1 1 0 0 0 1 1h5v-1H2v-1h4v-1H4v-1h2v-1H2v-1h4V9H4V8h2V7H2V6h4V2h1v4h1V4h1v2h1V2h1v4h1V4h1v2h1V2h1v4h1V1a1 1 0 0 0-1-1H1z"></path>
            </svg>
        </button>

        <button class="btn btn-outline-secondary tool-group" id="extentBtn" data-bs-toggle="tooltip" data-bs-placement="left" title="면적">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bounding-box-circles" viewbox="0 0 16 16">
                <path d="M2 1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zM0 2a2 2 0 0 1 3.937-.5h8.126A2 2 0 1 1 14.5 3.937v8.126a2 2 0 1 1-2.437 2.437H3.937A2 2 0 1 1 1.5 12.063V3.937A2 2 0 0 1 0 2zm2.5 1.937v8.126c.703.18 1.256.734 1.437 1.437h8.126a2.004 2.004 0 0 1 1.437-1.437V3.937A2.004 2.004 0 0 1 12.063 2.5H3.937A2.004 2.004 0 0 1 2.5 3.937zM14 1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zM2 13a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm12 0a1 1 0 1 0 0 2 1 1 0 0 0 0-2z"></path>
            </svg>
        </button>

        <button class="btn btn-outline-secondary tool-group" id="radiusBtn" data-bs-toggle="tooltip" data-bs-placement="left" title="반경">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-record-circle" viewbox="0 0 16 16">
                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"></path>
                <path d="M11 8a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"></path>
            </svg>
        </button>
    </div>

    <div class="btn-group-vertical">
        <input type="checkbox" class="btn-check" id="btnCurLocation" autocomplete="off">
        <label class="btn btn-outline-dark tool-group" for="btnCurLocation" data-bs-toggle="tooltip" data-bs-placement="left" title="현재위치">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-geo-alt-fill" viewBox="0 0 16 16">
                <path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10zm0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6z"/>
            </svg>
        </label>
    </div>
</div>

</html>